@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

.create-product {
  height: 100%;

  @include page-grid;

  &__image {
    grid-column: 1 / 6;
    aspect-ratio: 1 / 1;
    width: 100%;

    border-radius: 40px;

    object-fit: cover;
  }

  &__form {
    display: flex;
    gap: 16px;
    flex-direction: column;

    &-container {
      grid-column: 6 / 10;
    }

    &-file-button {
      padding: 16px;

      margin-bottom: 24px;
      width: 100%;

      display: flex;
      gap: 4px;
      align-items: center;
    }

    &-file-input {
      display: none;
    }
  }

  &__filters {
    grid-column: 10 / -1;
  }

  &__bottom {
    width: 100%;
    align-self: end;
    justify-self: end;

    &-button {
      &-left {
        grid-column: 7 / 10;
      }

      &-right {
        grid-column: 10 / -1;
      }
    }
  }
}
