@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

.order {
  @include page-grid;
  row-gap: 0;

  &__contact-notice {
    grid-column: 4 / -4;

    padding: 0 24px;
    margin-bottom: 40px;

    @include small-desktop {
      grid-column: 3 / -3;
    }

    @include tablet {
      grid-column: 1 / -1;
    }

    @include small-tablet {
      padding: 0;
    }
  }

  &__summary {
    grid-column: 4 / -4;
    padding: 24px;

    margin-bottom: 16px;

    display: flex;
    gap: 16px;
    align-items: center;
    flex-direction: column;

    @include border-gradient(#f5f7fa, $border-gradient);

    @include small-desktop {
      grid-column: 3 / -3;
    }

    @include tablet {
      grid-column: 1 / -1;
    }
  }

  &__products {
    width: 100%;

    display: flex;
    gap: 12px;
    flex-direction: column;
  }

  &__product {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-info {
      display: flex;
      gap: 24px;
      align-items: center;

      color: #1f2933;
    }

    &-value {
      white-space: nowrap;
    }
  }

  &__total {
    align-self: flex-end;

    display: flex;
    gap: 16px;
    align-items: center;

    @include small-tablet {
      width: 100%;
      justify-content: space-between;
    }

    &-text {
      color: #616e7c;
    }

    &-amount {
      white-space: nowrap;
    }
  }

  &__form {
    grid-column: 5 / -5;

    @include small-desktop {
      grid-column: 4 / -4;
    }

    @include small-tablet {
      grid-column: 1 / -1;
    }
  }
}
