@import "../../styles/mixins.scss";
@import "../../styles/vars.scss";

.product-card {
  width: fit-content;

  background-color: #f5f7fa;
  border-radius: $border-radius-x;

  &__container {
    display: flex;
    gap: 24px;
    flex-direction: column;

    margin-top: 16px;
    padding: 24px;
    padding-top: 0;
  }

  &__image {
    width: $product-card-image-size;
    height: $product-card-image-size;

    border-radius: $border-radius-m;

    object-fit: cover;
  }

  &__info {
    display: flex;
    gap: 8px;
    flex-direction: column;

    &-name {
      color: #000000;
    }

    &-size {
      color: #616e7c;
    }

    &-price {
      color: #000000;
      align-self: flex-end;
    }
  }

  &__buy-button {
    padding: 20px;

    color: #000000;

    @include border-gradient(white, $active-border-gradient);
  }
}
