@mixin border-gradient($bg-color, $border-color, $radius: $border-radius-x) {
  background: #ffffff;

  border: 2px double transparent;
  border-radius: $radius;
  border-image-slice: 1;

  background-image: linear-gradient($bg-color, $bg-color),
    linear-gradient($bg-color, $bg-color), $border-color;

  background-origin: border-box;
  background-clip: content-box, padding-box, border-box;
}
