@import "../../../styles/vars.scss";
@import "../../../styles/mixins.scss";

.about-me__faq {
  &__questions {
    display: flex;
    gap: 12px;
    flex-direction: column;
  }

  &-question {
    padding: 24px;

    transition: height 100ms;

    @include border-gradient(white, $active-border-gradient);

    &-top {
      display: flex;
      justify-content: space-between;
    }

    &-text {
      margin-top: 16px;

      overflow: hidden;

      transition: max-height 0.3s ease-in-out, margin-top 0.1s ease-in-out 0s;

      &--hidden {
        margin-top: 0;
        max-height: 0 !important;

        transition: max-height 0.3s ease-in-out,
          margin-top 0.3s ease-in-out 0.2s;
      }
    }
  }
}
