@import "../../styles/mixins.scss";
@import "../../styles/vars.scss";

.filter {
  width: fit-content;
  padding: 8px 16px;

  @include border-gradient(white, $border-gradient);

  color: #1f2933;

  &--selected {
    @include border-gradient(#fcf1f2, $active-border-gradient);
  }
}
