@import "../../styles/mixins.scss";

.shop {
  &__container {
    margin-top: 16px;

    @include page-grid;
  }

  &__products-container {
    grid-column: 4/-1;

    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }
}
