@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

.back-button {
  margin-bottom: 24px;
  width: fit-content;
  height: fit-content;

  padding: 10px;

  &__image {
    display: block;
  }
}
