@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

.back-button {
  padding: 10px;
  width: fit-content;
  height: fit-content;

  @include border-gradient(white, $active-border-gradient);

  &__image {
    display: block;
  }
}
