@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

.product {
  &__container {
    @include page-grid;

    @include border-gradient(white, $border-gradient);
  }

  &__photo {
    width: 100%;
    grid-column: 1 / 6;
    aspect-ratio: 1 / 1;

    object-fit: cover;

    @include border-gradient(white, $border-gradient);

    // change that shit later
    transform: scale(1.005, 1.005);

    @include small-desktop {
      grid-column: 1 / 7;
    }

    @include tablet {
      aspect-ratio: unset;
    }
  }

  &__tags {
    display: flex;
    gap: 8px;
  }

  &__price {
    align-self: flex-end;

    display: flex;
    gap: 8px;

    &-text {
      color: #616e7c;
    }
  }

  &__cart-button {
    padding: 14px;
    gap: 4px;

    color: black;

    @include border-gradient(white, $active-border-gradient);
  }

  &__info {
    grid-column: 6 / 11;
    grid-row: 1;

    padding: 24px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include small-desktop {
      grid-column: 7 / -1;

      padding-right: 24px;
      padding-bottom: 0;
    }

    &-top {
      display: flex;
      gap: 12px;
      flex-direction: column;
    }

    &-bottom {
      width: 100%;
      align-self: flex-end;

      display: flex;
      gap: 8px;
      flex-direction: column;
    }

    &-entry {
      display: flex;
      gap: 8px;
      align-items: center;

      &-name {
        margin: 0;
        color: #616e7c;
        white-space: nowrap;

        margin-bottom: auto;
      }

      &-value {
        margin: 0;
        color: #1f2933;
        max-width: 360px;
      }
    }
  }

  &__delivery {
    grid-column: 10 / -1;
    grid-row: 1;

    margin-left: auto;
    padding: 24px;
    padding-right: 12px;
    box-sizing: border-box;

    display: flex;
    gap: 24px;
    flex-direction: column;

    @include border-gradient(white, $border-gradient);

    border-right: none;
    border-bottom: none;
    border-top: none;

    @include small-desktop {
      grid-column: 1 / -1;
      grid-row: initial;
      flex-direction: row;
      justify-content: space-between;

      padding: 24px;

      width: 100%;

      @include border-gradient(white, $border-gradient);

      border-right: none;
      border-left: none;
      border-bottom: none;
    }
  }

  &__section {
    display: flex;
    gap: 16px;
    flex-direction: column;

    @include small-desktop {
      flex-direction: row;
    }

    &--group {
      @include small-desktop {
        flex-direction: column;
      }
    }
  }

  &__methods {
    display: flex;
    gap: 12px;
    flex-direction: column;
  }

  &__method {
    display: flex;
    gap: 8px;
    align-items: center;

    &-icon {
      width: 24px;
      height: 24px;
    }

    &-text {
      white-space: nowrap;
    }

    &-time {
      color: #9aa5b1;
    }

    &--double-text {
      display: flex;
      gap: 4px;
      flex-direction: column;
    }
  }

  &__contact {
    margin-top: auto;

    display: flex;
    gap: 4px;
    flex-direction: column;

    &-text-gray {
      color: #616e7c;
    }

    @include small-desktop {
      margin: 0;
    }
  }
}

.suggestions {
  margin-top: 80px;

  display: flex;
  gap: 20px;
  flex-direction: column;

  &__products {
    display: flex;
    gap: 24px;
  }
}
