@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

.auth-form {
  &__options {
    display: flex;
    gap: 8px;
  }

  &__option {
    width: 212px;

    padding: 14px 0;
    background: none;

    color: black;

    &--selected {
      @include border-gradient(white, $border-gradient);
    }
  }

  &__form {
    margin-top: 12px;

    &-reset {
      align-self: flex-end;
      padding: 16px 8px;
      padding-top: 0;

      color: #616e7c;
    }
  }
}
