@import "../../../styles/vars.scss";
@import "../../../styles/mixins.scss";

.profile__orders {
  grid-column: 1 / 9;
  padding: 24px;

  @include border-gradient(white, $border-gradient);

  &-container {
    display: flex;
    gap: 24px;
    flex-direction: column;
  }

  &-filters {
    display: flex;
    gap: 12px;
  }

  &-headers {
    padding-bottom: 8px;
    border-bottom: 1px solid #e4e7ee;
  }

  &-row {
    display: flex;
    gap: 80px;
    align-items: end;
  }

  &-column,
  &-column > p {
    width: 150px;
    text-align: center;

    &:not(:first-child) {
      color: #616e7c;
    }
  }

  &-empty {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;

    &-text {
      color: #9aa5b1;
    }
  }
}
