@import "../../../styles/vars.scss";
@import "../../../styles/mixins.scss";

.profile__orders {
  grid-column: 1 / 9;
  padding: 24px;

  @include border-gradient(white, $border-gradient);

  @include small-desktop {
    grid-column: 1 / -2;
  }

  @include tablet {
    grid-column: 1 / -1;
  }

  &-container {
    display: flex;
    gap: 24px;
    flex-direction: column;
  }

  &-filters {
    display: flex;
    gap: 12px;
  }

  &-headers {
    padding-bottom: 8px;
    border-bottom: 1px solid #e4e7ee;

    &-row {
      gap: 0 !important;

      @include small-tablet {
        flex-direction: column;
        align-items: start !important;
        flex-wrap: wrap;
      }

      @include phone {
        gap: 8px !important;
      }
    }

    &-group {
      @include small-tablet {
        margin-left: auto;
      }
    }
  }

  &-row {
    display: flex;
    gap: 80px;
    align-items: end;
    justify-content: space-between;

    @include tablet {
      gap: 66px;
    }

    @include small-tablet {
      gap: 16px;
    }

    @include phone {
      gap: 0;
    }

    &-group {
      justify-content: end;

      & > p {
        color: #1f2933;

        @include small-tablet {
          text-align: right !important;
        }
      }
    }
  }

  &-column {
    width: 150px;
    text-align: center !important;

    @include tablet {
      width: 100px;
    }

    @include small-tablet {
      width: 80px;
    }

    &--header {
      color: #616e7c !important;

      @include small-tablet {
        text-align: right !important;
      }
    }
  }

  &-empty {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;

    &-text {
      color: #9aa5b1;
    }
  }
}
