@import "../../styles/vars.scss";

.header {
  padding: 15px 24px;

  &__logo {
    margin-right: 115px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;

    &-left {
      display: flex;
    }

    &-list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      gap: 24px;

      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  border-bottom: 2px solid;

  border-image-source: $header-gradient;
  border-image-slice: 1;
}
