@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

.header {
  padding: 15px 24px;

  &__logo {
    margin-right: 115px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;

    &-left {
      display: flex;

      & > ul {
        @include small-tablet {
          display: none;
        }
      }
    }

    &-link {
      text-decoration: none;
      color: inherit;

      margin: auto;

      display: flex;
      align-items: center;
      justify-content: center;

      &--active {
        text-decoration: underline;
      }
    }

    &-list {
      height: 100%;

      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      gap: 24px;

      @include small-tablet {
        gap: 16px;
      }

      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &-profile {
      @include small-tablet {
        display: none;
      }
    }

    &-menu {
      display: none;

      @include small-tablet {
        display: inherit;
      }
    }
  }

  border-bottom: 2px solid;

  border-image-source: $header-gradient;
  border-image-slice: 1;
}
