@import "../../../styles/vars.scss";
@import "../../../styles/mixins.scss";

.home__compositions {
  &-title {
    grid-column: 2 / 8;

    @include small-desktop {
      grid-column: 2 / 10;
    }

    @include small-tablet {
      grid-column: 1 / -1;
    }
  }

  &-subtitle {
    grid-column: 8 / 12;

    align-self: end;

    @include small-desktop {
      grid-column: 7 / 12;
    }

    @include tablet {
      grid-column: 2 / 8;
    }

    @include small-tablet {
      grid-column: 1 / 4;
    }
  }

  &-images {
    grid-column: 2 / -2;
    margin-top: 90px;
    padding: 40px;

    display: flex;
    gap: 40px;

    @include border-gradient(#e8ecf4, $border-gradient);

    @include small-desktop {
      margin-top: 40px;
      gap: 0;
      justify-content: space-between;

      padding: 24px;
    }

    @include tablet {
      margin-top: 32px;
    }

    @include small-tablet {
      margin-top: 0;

      padding: 12px;

      grid-column: 1 / -1;
    }
  }
}
