@import "../../../styles/vars.scss";
@import "../../../styles/mixins.scss";

.home__faq {
  margin: 0 48px;
  padding: 40px;

  @include border-gradient(#e8ecf4, $border-gradient);

  &-title {
    grid-column: 5 / 9;
    text-align: center;
  }

  &-container {
    grid-column: 1 / -1;

    display: flex;
    flex-direction: column;
    align-items: start;

    @include tablet {
      margin: 0 24px;
    }

    &--top {
      width: 100%;
      display: flex;

      @include tablet {
        justify-content: space-between;
        gap: 24px;
      }
    }

    &--bottom {
      width: 100%;
      margin-left: auto;
      display: flex;

      @include tablet {
        margin: 0;

        justify-content: space-between;
        gap: 24px;
      }
    }
  }

  &-button {
    grid-column: 5 / 9;

    @include tablet {
      grid-column: 1 / -1;
    }
  }

  &-question {
    width: 310px;

    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    @include small-desktop {
      width: 220px;
    }

    &-top {
      display: flex;
      align-items: start;
    }

    &-number {
      margin-top: -18px;
      margin-right: -16px;

      font-family: Segoe UI;
      font-size: 128px;
      font-style: italic;
      font-weight: 400;
      line-height: 115.2px;
      color: white;
    }

    &-subtitle {
      color: #616e7c;
    }

    &-image {
      width: fit-content;
    }
  }
}
