@import "../../../styles/vars.scss";
@import "../../../styles/mixins.scss";

.home__compositions {
  &-title {
    grid-column: 2 / 8;
  }

  &-subtitle {
    grid-column: 8 / 12;

    align-self: end;
  }

  &-images {
    grid-column: 2 / -2;
    margin-top: 90px;
    padding: 40px;

    display: flex;
    gap: 40px;

    @include border-gradient(#e8ecf4, $border-gradient);
  }
}
