@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

.reset-password {
  @include page-grid;

  &__form {
    grid-column: 5 / -5;

    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;

    &-top {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__sent {
    grid-column: 4 / -4;
    padding: 0 32px;

    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;

    &-top {
      display: flex;
      gap: 4px;
      flex-direction: column;
    }

    &-button {
      grid-column: 5 / -5;
    }
  }
}
