@import "../../styles/mixins.scss";
@import "../../styles/vars.scss";

.filter-box {
  height: fit-content;

  display: flex;
  gap: 32px;
  flex-direction: column;

  padding: 24px;
  grid-column: 1 / 4;

  @include border-gradient(white, $border-gradient);

  &__container {
    display: flex;
    gap: 16px;
    flex-direction: column;
    color: #00000080;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__clear-button {
    padding: 8px;

    border: none;
    background: none;

    color: #000000;
  }

  &__apply-button {
    padding: 20px 48px;

    border: none;
    border-radius: $border-radius-x;

    background: $active-border-gradient;
    color: #ffffff;
  }

  &__filters {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }
}
