@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

.cart-product {
  position: relative;

  display: flex;
  justify-content: space-between;

  @include small-tablet {
    flex-direction: column;
    gap: 16px;
  }

  & .button--text {
    padding: 4px;
  }

  &__top {
    display: flex;
    gap: 24px;

    &--opacity {
      opacity: 0.5;
    }
  }

  &__photo {
    width: 180px;
    height: 180px;
    aspect-ratio: 1 / 1;

    border-radius: 24px;

    object-fit: cover;

    @include small-tablet {
      width: 100px;
      height: 100px;
    }
  }

  &__name {
    @include small-tablet {
      width: min-content;
    }
  }

  &__info {
    display: flex;
    gap: 16px;
    flex-direction: column;

    &-entry {
      display: flex;
      gap: 4px;
      align-items: center;

      @include small-tablet {
        align-items: start;
        flex-direction: column;
      }

      &-name {
        color: #616e7c;
      }
    }
  }

  &__price {
    white-space: nowrap;
  }

  &__order {
    &-info {
      margin-left: auto;

      display: flex;
      gap: 16px;
      flex-direction: column;
      align-items: flex-end;

      &--bottom {
        gap: 8px;
      }

      &-quantity {
        margin-top: auto;

        align-items: center;
        justify-self: flex-end;
        display: flex;
        gap: 12px;

        &[aria-disabled="true"] {
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }

    &-top-right {
      position: absolute;
      top: 0;
      right: 0;

      display: flex;
      gap: 16px;
      align-items: center;
    }

    &-return-button {
      margin-top: 4px;
    }

    &-remove-icon {
      width: 24px;
    }

    &-minus-icon {
      transition: opacity 300ms;

      &[aria-disabled="true"] {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
}
